{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

  <div class="row">
    {% for product in products %}
        <div class='col-md-4'>

            <div class="thumbnail">
            {% if product.productimage_set.all %}

                {% for item in product.productimage_set.all %}
                    {% if item.featured %}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ item.image }}" />
                    {% endif %}
                {% endfor %}          
            {% else %}
            <img  class="img-responsive" src='{% static "img/blank.svg" %}'>      
            {% endif %}
                  <div class="caption">
                    <a href='{{ product.get_absolute_url }}'><h3>{{ product.title }}</h3></a>
                    <p>{{product.discription|truncatewords:15}}</p>
                    <p><a href="{{ product.get_absolute_url }}" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
            </div>
        </div> 

      {% cycle "" "" "</div><br/><hr/><div class='row'>"%}
    {% endfor %}
  
  </div>

{% endblock %}